.btn_dropdown {
  display: flex;
  justify-content: center;
  box-sizing: padding-box;
  min-width: 220px;
  min-height: 20px;
  align-items: center;
  padding: 16px 20px;
  cursor: pointer;
  border: 2px solid var(--primary);
  background-color: var(--main-color);
  border-radius: 40px;
  font: inherit;
  color: var(--main-text-color);
}

.btn_dropdown svg {
  margin-right: 8px; 
  margin-bottom: -2px;
}

.dropdown_menu {
  width: 100%;
  border-radius: 15px !important;
  background-color: var(--primary) !important;
}

.dropdown_item {
  background-color: var(--primary) !important;
  border-bottom: 2px solid transparent;
}

.dropdown_item:hover {
  color: var(--sec-color) !important;
  border-bottom: 2px solid var(--main-color);
}

.dropdown_submenu {
  background-color: var(--primary) !important;
  border-radius: 15px 0 15px 15px !important;
}

@media (max-width: 1023px) {
  .btn_dropdown {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 19px;
    max-height: 44px;
  }

  .btn_dropdown svg {
    margin-right: 4px;
  }
}

@media (max-width: 770px) {

  .btn_dropdown {
    width: 100%;
  }
}

@media (max-width: 450px) {

  .btn_dropdown {
    font-size: 12px;
  }
}