@import url(../root/root.css);

hr {
  width: 100%;
}

.infoPage {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
  width: 100%;
  min-height: 100vh;
  line-height: 1.25em;
}

.infoPage h1 {
  font-size: 52px;
  line-height: 1.25em;
}

.infoPage header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 60px;
}

.btn_back {
  color: var(--primary);
  display: flex;
  gap: 16px;
  background: transparent;
  border: none;
  align-items: center;
  width: max-content;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.25em;
  cursor: pointer;
}

.btn_back:hover {
  color: var(--hover);
}

.header_title {
  display: flex;
  justify-content: space-between;
  font-weight: 900;
}

.header_title .links {
  display: flex;
  gap: 20px;
}

.btn_link {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: max-content;
  max-height: 56px;
  padding: 16px 20px;
  cursor: pointer;
  border: 2px solid var(--primary);
  background-color: var(--main-color);
  border-radius: 40px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.25em;
  color: var(--main-text-color);
}

.btn_primary {
  background-color: var(--primary);
  color: var(--main-color);
}

.map {
  opacity: 1;
  position: absolute;
  width: 440px;
  height: 350px;
  top: 150px;
  right: 0;
  border: 2px solid var(--primary);
  border-radius: 5%;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgb(0, 0, 0, .8);
}

@media (max-width: 1024px) {
  .infoPage header {
    gap: 20px;
    margin-bottom: 32px;
  }
  .header_title {
    flex-direction: column;
    gap: 20px;
  }

  .header_title h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .infoPage h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .btn_link {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 600px) {
  .links {
    flex-direction: column;
  }
  .btn_link {
    width: 100%;
  }
}
