@import url(../root/root.css);

/* удаляем стили для компонента Link */
a {
  text-decoration: none;
}

.card {
  position: relative;
  min-width: 328px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  color: var(--main-text-color);
}

.card:hover .card_banner {
  background-color: var(--hover);
  color: var(--main-color);
}

.card:hover hr {
  border-color: var(--main-color);
}

.card:hover .card_title_button {
  opacity: 1;
}

.card_title_button {
  box-sizing: border-box;
  opacity: 0;
  padding: 0;
  margin-left: 16px;
  border: none;
  width: 40px;
  height: 40px;
}

.card_status {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3))
}

.card_status_open {
  color: var(--primary);
}

.card_status_close {
  color: var(--alert);
}

.cam_icon {
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 50%;
  background: var(--hover) url(../../images/icon_camera.svg) center no-repeat;
  width: 44px;
  height: 44px;
}

.card_image {
  object-fit: cover;
  height: 200px;
}

.card_banner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 769px) {
  .card_banner {
    min-height: 184px;
  }
}

.card_banner hr {
  width: 100%;
  border: 1px solid var(--main-text-color);
}

.card_title {
  display: flex;
  justify-content: space-between;
  height: 58px;
}

.card_title_text {
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.card_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  gap: 12px;
}

.card_info_stroke {
  display: flex;
  justify-content: space-between;
}

.card_info_stroke h3 {
  padding: 0;
  margin: 0;
}