@import url(../root/root.css);

.header {
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
}

.header > a > img {
  width: 20px;
  height: 20px;
  padding-right: 8px;
}

.btn_header_title {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  background-color: var(--primary);
  border-radius: 40px;
  text-decoration: none;
  padding: 16px 20px;
}

.btn_header {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  min-width: 340px;
  min-height: 20px;
  align-items: center;
  padding: 16px 20px;
  cursor: pointer;
  border: 2px solid var(--primary);
  background-color: var(--main-color);
  border-radius: 40px;
  font: inherit;
  color: var(--main-text-color);
}

.btn_header svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: -2px;
}

.btn_header:hover {
  background-color: var(--sec-color);
}

/* @media (max-width: 1023px) {
  .header {
    font-size: 14px;
    line-height: 19px;
  }

  .btn_header_title {
    padding: 12px 16px;
  }

  .btn_header {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 19px;
    max-height: 44px;
  }

  .btn_header::before {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
}

@media (max-width: 710px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .btn_header_title {
    width: max-content;
  }

  .btn_header {
    width: max-content;
  }
}

@media (max-width: 400px) {
  .header {
    font-size: 12px;
  }
} */