@import url(../root/root.css);

.header {
  position: relative;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
}

.header > a > svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.header_title {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  background-color: var(--primary);
  border-radius: 40px;
  text-decoration: none;
  padding: 16px 20px;
}

.header_title:hover {
  background-color: var(--hover);
}

@media (max-width: 1023px) {
  .header {
    font-size: 14px;
    line-height: 19px;
  }

  .header_title {
    padding: 12px 16px;
  }
}

@media (max-width: 770px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .header_title {
    width: max-content;
  }
}

@media (max-width: 450px) {
  .header {
    font-size: 12px;
  }
}