.card {
  min-width: 328px;
  max-height: 422px;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 1281px) {

}

.card_image {
  object-fit: cover;
  height: 200px;
}

.card_banner {
}