.cards {
  width: 100%;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(420px,1fr));
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 1281px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(360px,1fr));
  }
}

@media (max-width: 769px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 328px);
    gap: 32px;
  }
}