@import url(./const.css);

.page {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1920px;
  height: 100%;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media (max-width: 1023px) {
  .page {
    padding: 20px 40px;
  }
}

@media (max-width: 391px) {
  .page {
    padding: 20px;
  }
}