@import url(../root/root.css);

.footer {
  border-top: 1px solid var(--sec-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  flex-shrink: 0;
  margin-top: 20px;
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.copyright a {
  color: var(--primary);
}

.footer_links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer_icon {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  display: flex;
}

.footer_icon a {
  width: 100%;
}

.tg {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2683 14.5032L9.01796 18.5277C9.3858 18.5277 9.54832 18.3472 9.75363 18.133L11.5209 16.2891L15.1976 19.2039C15.8742 19.6045 16.3626 19.397 16.5311 18.5298L18.9448 6.32518C19.1919 5.26209 18.5671 4.77992 17.9198 5.09526L3.74706 10.9594C2.77963 11.3757 2.78527 11.9549 3.57071 12.2129L7.20776 13.431L15.6279 7.73086C16.0254 7.47221 16.3902 7.61127 16.0908 7.89642L9.26809 14.5031L9.2683 14.5032Z' fill='white'/%3E%3C/svg%3E%0A") center no-repeat;
}

.tg:hover {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2683 14.5032L9.01796 18.5277C9.3858 18.5277 9.54832 18.3472 9.75363 18.133L11.5209 16.2891L15.1976 19.2039C15.8742 19.6045 16.3626 19.397 16.5311 18.5298L18.9448 6.32518C19.1919 5.26209 18.5671 4.77992 17.9198 5.09526L3.74706 10.9594C2.77963 11.3757 2.78527 11.9549 3.57071 12.2129L7.20776 13.431L15.6279 7.73086C16.0254 7.47221 16.3902 7.61127 16.0908 7.89642L9.26809 14.5031L9.2683 14.5032Z' fill='black'/%3E%3C/svg%3E%0A") center no-repeat;
}

.vk {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7145 17C7.24792 17 4.12992 13.2462 4 7H6.73829C6.82823 11.5846 8.84692 13.5265 10.4459 13.9269V7H13.0244V10.954C14.6034 10.7838 16.2622 8.98198 16.8218 7H19.4003C18.9705 9.44244 17.1717 11.2442 15.8925 11.985C17.1717 12.5856 19.2205 14.1572 20 17H17.1617C16.5521 15.0981 15.0332 13.6266 13.0244 13.4264V17H12.7145Z' fill='white'/%3E%3C/svg%3E%0A") center no-repeat;
}

.vk:hover {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7145 17C7.24792 17 4.12992 13.2462 4 7H6.73829C6.82823 11.5846 8.84692 13.5265 10.4459 13.9269V7H13.0244V10.954C14.6034 10.7838 16.2622 8.98198 16.8218 7H19.4003C18.9705 9.44244 17.1717 11.2442 15.8925 11.985C17.1717 12.5856 19.2205 14.1572 20 17H17.1617C16.5521 15.0981 15.0332 13.6266 13.0244 13.4264V17H12.7145Z' fill='black'/%3E%3C/svg%3E%0A") center no-repeat;
}

.footer_icon:hover {
  background-color: var(--hover);
  border: none;
}

@media (max-width: 769px) {
  .footer {
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
  }

  .footer_icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 450px) {
  .footer {
    font-size: 8px;
    line-height: 10px;
  }
}