@import url(../root/root.css);

.accordion {
  display: flex;
  flex-direction: column;
  gap: 40px;
  cursor: pointer;
}

.accordion_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.accordion_body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  overflow: hidden;
}

.accordion_item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.webcam {
  border: 3px solid var(--primary);
  border-radius: 20px;
  overflow: hidden;
}

.accordion_body iframe {
  border: none;
}

.status {
  width: max-content;
  padding: 8px 16px;
  background-color: var(--main-color);
  border: 2px solid;
  border-radius: 40px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 36px;
}

.open {
  border-color: var(--primary);
  color: var(--primary);
}

.close {
  border-color: var(--alert);
  color: var(--alert);
}

.day {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.day::after {
  content: '';
  width: 100%;
  border-bottom: 2px solid #1F2123;
}

.day:nth-last-child(-n+2) {
  color: var(--primary)
}

.day_title {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: end;
  min-width: 200px;
}

.hours {
  text-align: left;
  width: 150px;
}